@import "static/assets/images/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter';
}

html {
  font-size: 1rem;
}

footer {
  margin-top: auto;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
  height: 0;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 67.71vw;
}
