<template>
  <article>
    <div class="path flex">
      <nuxt-link to="/">Главная</nuxt-link>
      /
      <nuxt-link to="/">Деятельность</nuxt-link>
    </div>
    <h1>{{getAboutNews.newsTitle}}</h1>
    <span class="dateofpublication">{{getAboutNews.dateofpublication}}</span>
    <img :src="require(`static/assets/logos/${getAboutNews.newsimage}`)" :alt="`getAboutNews.newsTitle`">
    <p>Управление государственной службы и кадровой работы администрации Липецкой области совместно с Уполномоченным многофункциональным центром и органами местного самоуправления региона продолжают работу по приведению муниципальных услуг в соответствие с типовыми административными регламентами. Первые шаги в этом направлении были сделаны в 2018 году. За это время стало очевидно, что типизация в значительной степени упрощает процесс предоставления услуг в МФЦ, в том числе за счет экстерриториальности – заявители могут получать услуги вне зависимости от места жительства, что является одной из приоритетных задач, поставленных Министерством экономического развития РФ перед субъектами страны.</p>
    <p>Залогом успеха здесь является – выстраивание эффективных отношений с органами местного самоуправления. С этой целью региональное управление госслужбы и кадровой работы и ОБУ «УМФЦ Липецкой области» проводят рабочие встречи с представителями муниципалитетов. Накануне такие мероприятия состоялись в Лебедянском и Лев-Толстовском районах, демонстрирующих положительный опыт организации предоставления типовых услуг по принципу «одного окна». </p>
    <p>В ходе рабочих встреч обсуждались вопросы алгоритма действий заинтересованных сторон, механизмы и технические аспекты взаимодействия. В ближайшей перспективе подобные встречи пройдут во всех районах Липецкой области. </p>
  </article>
</template>

<script>

export default {
  name: "aboutNews",
  computed: {
    getAboutNews() {
      return this.$store.getters.getNews.find(AboutNews => {
        return AboutNews.id === parseInt(this.$route.params.id);
      })
    }
  }
}

</script>

<style lang="scss" scoped>

@import "static/assets/images/style.css";

article {
  width: 41.67vw;
  margin: 0 auto;
  margin-top: 2.7489vw;
  margin-bottom: 8.96vw;
}

p {
  font-size: 0.83vw;
  line-height: 1.51vw;
  text-align: justify;
  color: #313139;
  & + & {
    margin-top: 0.83vw;
  }
}

img {
  width: 100%;
  margin-top: 0.83vw;
  margin-bottom: 1.67vw;
}

h1 {
  font-size: 1.46vw;
  font-weight: 700;
  line-height: 1.77vw;
  margin-top: 0.42vw;
  margin-bottom: 2.7255vw;
  color: #313139;
}

a {
  font-size: 0.83vw;
  line-height: 0.99vw;
  color: #5988FF;
}

.dateofpublication {
  font-size: 0.83vw;
  margin-top: 2.7255vw;
  line-height: 1.35vw;
  color: #A1A1A1;
}

</style>
