<template>
  <main>
    <div class="mainContent container flex">
      <section>
        <latestNews/>
        <mainNews v-for="(newsexam) in getNews.slice(1, 9)" :key="`news-${newsexam.id}`" :news-title="newsexam.newsTitle" :id="newsexam.id"/>
      </section>
      <sideinfo/>
    </div>
    <bottomLinks/>
  </main>
</template>

<script>

import latestNews from "./latestNews.vue";
import mainNews from "./mainNews.vue";
import sideinfo from "./sideinfo.vue";
import bottomLinks from "./bottomLinks.vue";

export default {
  name: "blog",
  components: { latestNews, mainNews, sideinfo, bottomLinks },
  computed: {
    getNews() {
      return this.$store.getters.getNews;
    }
  }
}

</script>

<style lang="scss" scoped>

@import "static/assets/images/style.css";

article {
  margin-top: 2.50vw;
}

aside {
  margin-left: 2.50vw;
}

.mainContent {
  margin-top: 3.946875vw;
}

</style>
