<template>
  <section class="container">
    <h3>Полезные ссылки</h3>
    <hr/>
    <button @click.prevent="slidePrev">
      <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.1419 4.08634C0.946636 3.89108 0.946636 3.5745 1.1419 3.37924L4.32388 0.197255C4.51914 0.00199244 4.83572 0.00199242 5.03099 0.197255C5.22625 0.392517 5.22625 0.709099 5.03099 0.904361L2.20256 3.73279L5.03099 6.56122C5.22625 6.75648 5.22625 7.07306 5.03099 7.26832C4.83572 7.46358 4.51914 7.46358 4.32388 7.26832L1.1419 4.08634ZM9.73145 4.23279L1.49545 4.23279L1.49545 3.23279L9.73145 3.23279L9.73145 4.23279Z" fill="#219BC3"/>
      </svg>
    </button>
    <hooper :settings="hooperSet" ref="carousel" @slide="updateCarousel">
      <slide v-for="index in 6" :key="index">
        <span>Министерство просвещения РФ</span>
        <nuxt-link to="/">edu.gov.ru</nuxt-link>
      </slide>
    </hooper>
    <button @click.prevent="slideNext">
      <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.6006 4.15122C13.7959 3.95596 13.7959 3.63938 13.6006 3.44412L10.4187 0.262135C10.2234 0.0668724 9.90681 0.0668724 9.71155 0.262135C9.51629 0.457397 9.51629 0.773979 9.71155 0.969241L12.54 3.79767L9.71155 6.6261C9.51629 6.82136 9.51629 7.13794 9.71155 7.3332C9.90681 7.52846 10.2234 7.52846 10.4187 7.3332L13.6006 4.15122ZM0 4.29767H13.2471V3.29767H0V4.29767Z" fill="#5988FF"/>
      </svg>
    </button>
  </section>
</template>

<script>

import { Hooper, Slide } from 'hooper';

export default {
  name: "bottomLinks",
  components: { Hooper, Slide },
  data(){
    return {
      hooperSet: {
        itemsToShow: 4,
        trimWhiteSpace: true,
        wheelControl: true,
        mouseDrag: true,
        touchDrag: false,
        transition: 200,
      },
      carouselData: 0
    }
  },
  watch: {
    carouselData () {
      this.$refs.carousel.slideTo(this.carouselData);
    }
  },
  methods: {
    slidePrev() {
      this.$refs.carousel.slidePrev();
    },
    slideNext() {
      this.$refs.carousel.slideNext();
    },
    updateCarousel(payload) {
      this.myCarouselData = payload.currentSlide;
    }
  }
}

</script>

<style lang="scss" scoped>

@import "static/assets/images/style.css";

.hooper {
  margin-bottom: 6.583333vw;
}

.hooper-list {
  li {
    height: 7.19vw;
    width: 15.42vw;
    border: 0.0598958vw solid #BEBEBE;
    border-radius: 0.2932291vw;
    display: flex;
    justify-content: space-between;
    padding: 0.94vw 2.92vw 0.94vw 0.99vw;
    margin-right: 0.60260416vw;
    span {
      font-size: 0.83vw;
      line-height: 0.99vw;
      color: #313139;
    }
    a {
      font-size: 0.82083vw;
      line-height: 0.99vw;
      color: #219BC3;
    }
  }
}

h3 {
  margin-top: 2.92vw;
}

hr {
  margin: 0.42vw 0 1.67vw;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  &:nth-of-type(1){
    top: 108.33vw;
    left: 13.02vw;
  }
  &:nth-of-type(2){
    top: 108.33vw;
    left: 83.33vw;
  }
  height: 1.1859375vw;
  width: 1.1859375vw;
  background: white;
  border: 0.05vw solid #219BC3;
  border-radius: 1.30vw;
  svg {
    height: 0.4541666666666667vw;
    width: 0.4541666666666667vw;
  }

}

</style>
