<template>
  <section>
    <div class="sectionTitle flex">
      <h1>Последние новости</h1>
      <nuxt-link to="/">
        Показать все
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.6006 4.15122C13.7959 3.95596 13.7959 3.63938 13.6006 3.44412L10.4187 0.262135C10.2234 0.0668724 9.90681 0.0668724 9.71155 0.262135C9.51629 0.457397 9.51629 0.773979 9.71155 0.969241L12.54 3.79767L9.71155 6.6261C9.51629 6.82136 9.51629 7.13794 9.71155 7.3332C9.90681 7.52846 10.2234 7.52846 10.4187 7.3332L13.6006 4.15122ZM0 4.29767H13.2471V3.29767H0V4.29767Z" fill="#5988FF"/>
        </svg>
      </nuxt-link>
    </div>
    <hr/>
    <hooper :settings="hooperSet" ref="carousel" @slide="updateCarousel" class="slider">
      <slide v-for="newsexam in getNews.slice(0,3)" :key="`news-${newsexam.id}`" class="flex">
        <img :src="require(`static/assets/logos/${newsexam.newsimage}`)" :alt="`newsexam.newsTitle`">
        <div class="newsexam">
          <span>{{newsexam.dateofpublication}}</span>
          <h2>{{newsexam.newsTitle}}</h2>
          <p>{{newsexam.description}}</p>
          <nuxt-link :to="`/about/${id}`">
            Читать далее
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.6006 4.15122C13.7959 3.95596 13.7959 3.63938 13.6006 3.44412L10.4187 0.262135C10.2234 0.0668724 9.90681 0.0668724 9.71155 0.262135C9.51629 0.457397 9.51629 0.773979 9.71155 0.969241L12.54 3.79767L9.71155 6.6261C9.51629 6.82136 9.51629 7.13794 9.71155 7.3332C9.90681 7.52846 10.2234 7.52846 10.4187 7.3332L13.6006 4.15122ZM0 4.29767H13.2471V3.29767H0V4.29767Z" fill="#5988FF"/>
            </svg>
          </nuxt-link>
        </div>
      </slide>
    </hooper>
    <div class="hooperSlide-controller flex">
      <div v-for="index in 3">
        <input :id="`radio-${index}`" type="radio" name="radio" :value="index" @click="slideTo(index)">
        <label :for="`radio-${index}`"></label>
      </div>
    </div>
  </section>
</template>

<script>

import { Hooper, Slide } from "hooper";
import 'static/assets/images/hooper.css';

export default {
  name: "latestNews",
  components: { Hooper, Slide },
  data() {
    return {
      hooperSet: {
        itemsToShow: 1,
        wheelControl: false,
        mouseDrag: false,
        touchDrag: false,
        autoPlay: true,
        playSpeed: 3000,
        transition: 400,
        infiniteScroll: true,
      }
    }
  },
  watch: {
    carouselData() {
      this.$refs.carousel.slideTo(this.carouselData);
    }
  },
  methods: {
    slideTo(index) {
      this.$refs.carousel.slideTo(index);
    },
    updateCarousel(payload) {
      if(payload.currentSlide !== 0) {
        this.myCarouselData = payload.currentSlide;
        const returnDataButton = document.querySelector(`#radio-${this.myCarouselData}`);
        returnDataButton.checked = true;
      }
    }
  },
  computed: {
    getNews() {
      return this.$store.getters.getNews;
    }
  }
}

</script>

<style lang="scss" scoped>

@import "static/assets/images/style.css";

li {
  height: 14.32vw;
  width: 45.1390625vw;
}

img {
  height: 14.32vw;
  width: 25.31vw;
}

a {
  font-size: 0.83vw;
  line-height: 160%;
  color: #5988FF;
}

svg {
  height: 0.42vw;
  width: 0.6901041666666666vw;
}

hr {
  &:nth-of-type(1) {
    margin: 0.42vw 0 1.25vw;
  }
  &:nth-of-type(2) {
    margin-top: 1.72vw;
  }
}

.sectionTitle {
  justify-content: space-between;
  h1 {
    font-size: 1.15vw;
    font-weight: 700;
    line-height: 1.41vw;
    color: #313139;
  }
}

.hooper {
  width: 45vw;
}

.newsexam {
  margin-left: 1.25vw;
  color: #313139;
  h2 {
    margin-top: 0.42vw;
    font-size: 0.94vw;
    font-weight: 500;
    line-height: 130%;
  }
  span {
    font-size: 0.73vw;
    line-height: 130%;
    color: #A9A9A9;
  }
  p {
    font-size: 0.83vw;
    line-height: 160%;
    margin-top: 0.83vw;
    margin-bottom: 1.67vw;
  }
}

.hooperSlide-controller {
  justify-content: center;
  margin-top: 0.83vw;
  input[type=radio]{
    display: none;
  }
  label {
    padding-left: 0.42vw;
    cursor: pointer;
  }
  label:before {
    height: 0.36vw;
    width: 0.36vw;
    border-radius: 0.36vw;
    display: inline-block;
    content: "";
    background: #C4C4C4;
  }
  label:hover:before {
    filter: brightness(120%);
  }
  input[type=radio]:checked + label:before {
    background: #5988FF;
  }
}

</style>
