<template>
  <article class="flex">
    <img :src="require(`static/assets/logos/${newsimage}`)" :alt=newsTitle>
    <div class="newsText">
      <span>{{dateofpublication}}</span>
      <h2>{{newsTitle}}</h2>
      <p></p>
      <nuxt-link :to="`/about/${id}`">
        Читать далее
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.6006 4.15122C13.7959 3.95596 13.7959 3.63938 13.6006 3.44412L10.4187 0.262135C10.2234 0.0668724 9.90681 0.0668724 9.71155 0.262135C9.51629 0.457397 9.51629 0.773979 9.71155 0.969241L12.54 3.79767L9.71155 6.6261C9.51629 6.82136 9.51629 7.13794 9.71155 7.3332C9.90681 7.52846 10.2234 7.52846 10.4187 7.3332L13.6006 4.15122ZM0 4.29767H13.2471V3.29767H0V4.29767Z" fill="#5988FF"/>
      </svg>
      </nuxt-link>
    </div>
    <hr/>
  </article>
</template>

<script>
export default {
  name: "mainNews",
  props: {
    id: {
      type:Number,
      required:true,
    },
    newsimage: {
      type: String,
      default: "image26.png"
    },
    dateofpublication:{
      type:String,
      default: "12 авг 2020"
    },
    newsTitle: {
      type:String,
      required:true,
    }
  }
}
</script>

<style lang="scss" scoped>

article {
  position: relative;
}

hr {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -0.83vw;
}

img {
  width: 13.02vw;
  height: 7.324479166666667vw;
}

svg {
  width: 0.6901041666666666vw;
  height: 0.42vw;
}

.newsText {
  width: 31.30vw;
  margin-left: 0.83vw;
  a{
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 160%;
    color: #5988FF;
  }
  span {
     font-size: 0.73vw;
     line-height: 130%;
     color: #A9A9A9;
   }
  h2 {
    margin-top: 0.42vw;
    font-size: 0.94vw;
    font-weight: 400;
    line-height: 150%;
    color: #313139;
  }
}





</style>
