<template>
  <aside>
    <article class="deyatelnost side-content">
      <span>Деятельность<br>управления</span>
    </article>
    <section>
      <span class="section-title">Структура управления</span>
      <hr/>
      <nuxt-link v-for="structures in getstructures" :key="`${structures.name}`" to="/" class="side-content">
        <span>{{structures.name}}</span>
        <img :src="require(`static/assets/logos/${structures.structureicon}`)" alt="">
      </nuxt-link>
    </section>
    <section class="side-pictures flex">
      <nuxt-link v-for="index in 4" :key="`sidepic-${index}`" to="/">
        <img :src="require(`static/assets/logos/sidepic${index}.png`)" alt="">
      </nuxt-link>
    </section>
  </aside>
</template>

<script>
export default {
  name: "sideinfo",
  computed: {
    getstructures(){
      return this.$store.getters.getstructures;
    }
  }
}
</script>

<style lang="scss" scoped>

@import "static/assets/images/style.css";

.deyatelnost {
  background-image: url("static/assets/logos/MaskGroup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  span{
    margin-left: 1.04vw;
    font-weight: 500;
    font-size: 1.04vw;
    line-height: 130%;
    color: #5A6770;
  }
}

.side-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.480729166666667vw;
  width: 20.069270833333334vw;
  border-radius: 0.16vw;
  background: #F8F8F8;
  span {
    line-height: 150%;
    font-weight: 500;
    font-size: 0.89vw;
    margin-left: 1.7385416666666667vw;
    color: #5A6770;
  }
  img {
    width: 2.55vw;
    margin-right: 1.67vw;
  }
}

.section-title {
  margin-top: 2.08vw;
}

hr {
  margin: 0.42vw 0 0.83vw;
}

a {
  &:hover{
    span{
      text-decoration: underline;
    }
  }
}

.side-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.8109375vw;
  grid-column-gap: 0.83vw;
  margin-top: 2.8869791666666664vw;
  img{
    width: 9.58vw;
    height: 5.31vw;
  }
}

</style>
