<template>
  <aboutNews/>
</template>

<script>

import headerBlock from '../../components/headerBlock.vue'
import aboutNews from "../../components/aboutNews.vue";

export default {
  name: "IndexPage",
  data() {
    return {
      title: "Управление государственной службы и кадровой работы администрации Липецкой области"
    };
  },
  head() {
    return {
      title: this.title
    };
  },
  components: { headerBlock, aboutNews }
}
</script>

<style lang="scss">

@import "static/assets/images/style.css";

nav{
  a{
    color: #FFFFFF;
    &:visited{
      color: #FFFFFF;
    }
  }
}

</style>
