<template>
  <div>
    <blog/>
    <footerBlock/>
  </div>
</template>

<script>

import blog from "../components/blog.vue"
import headerBlock from "../components/headerBlock.vue";
import footerBlock from "../components/footerBlock.vue";

export default {
  name: "index",
  components: { headerBlock, blog, footerBlock },
  data() {
    return {
      title: "Управление государственной службы и кадровой работы администрации Липецкой области"
    }
  },
  head() {
    return {
      title: this.title

    }
  }
}

</script>

<style lang="scss">

@import "static/assets/images/style.css";

</style>
